[submodule "sidekiq-benchmark"]
	path = sidekiq-benchmark
	url = git@github.com:redis-performance/sidekiq-benchmark.git
[submodule "sidekiq-rs"]
	path = sidekiq-rs
	url = git@github.com:redis-performance/sidekiq-rs.git
[submodule "vector-db-benchmark"]
	path = vector-db-benchmark
	url = git@github.com:redis-performance/vector-db-benchmark.git
[submodule "testing-infrastructure"]
	path = testing-infrastructure
	url = git@github.com:redis-performance/testing-infrastructure.git
[submodule "redisbench-admin"]
	path = redisbench-admin
	url = git@github.com:redis-performance/redisbench-admin.git
[submodule "redisearch-shared-reports"]
	path = redisearch-shared-reports
	url = git@github.com:redis-performance/redisearch-shared-reports.git
[submodule "cloud-benchmarks"]
	path = cloud-benchmarks
	url = git@github.com:redis-performance/cloud-benchmarks.git
[submodule "topdown-profiler"]
	path = topdown-profiler
	url = git@github.com:redis-performance/topdown-profiler.git
[submodule "go-ycsb"]
	path = go-ycsb
	url = git@github.com:redis-performance/go-ycsb.git
[submodule "pubsub-sub-bench"]
	path = pubsub-sub-bench
	url = git@github.com:redis-performance/pubsub-sub-bench.git
[submodule "redis-benchmark-go"]
	path = redis-benchmark-go
	url = git@github.com:redis-performance/redis-benchmark-go.git
[submodule "serverless-cache-benchmark"]
	path = serverless-cache-benchmark
	url = git@github.com:redis-performance/serverless-cache-benchmark.git
[submodule "perf_data_converter"]
	path = perf_data_converter
	url = git@github.com:redis-performance/perf_data_converter.git
[submodule "bcc-exporter"]
	path = bcc-exporter
	url = git@github.com:redis-performance/bcc-exporter.git
[submodule "vector-embeddings"]
	path = vector-embeddings
	url = git@github.com:redis-performance/vector-embeddings.git
[submodule "redis-mixed-bench"]
	path = redis-mixed-bench
	url = git@github.com:redis-performance/redis-mixed-bench.git
[submodule "redis-benchmark-connect"]
	path = redis-benchmark-connect
	url = git@github.com:redis-performance/redis-benchmark-connect.git
[submodule "openstreaming-benchmark"]
	path = openstreaming-benchmark
	url = git@github.com:redis-performance/openstreaming-benchmark.git
[submodule "redis_exporter"]
	path = redis_exporter
	url = git@github.com:redis-performance/redis_exporter.git
[submodule "redis-zbench-go"]
	path = redis-zbench-go
	url = git@github.com:redis-performance/redis-zbench-go.git
[submodule "geo-bench"]
	path = geo-bench
	url = git@github.com:redis-performance/geo-bench.git
[submodule "memtier_benchmark"]
	path = memtier_benchmark
	url = git@github.com:redis/memtier_benchmark.git
